{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rush 4.0</title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
</head>

<body style="background-color: #EEEEEE;">
<p id="day"></p>

<div class="date">
    <script>
        const d = new Date();
        document.getElementById("day").innerHTML = d;
    </script>
</div>

<div class="HPtext">

    <h1><b> SELECT A SCHOOL </b></h1>

    <a href="TPN.html">
        <button class = "TPN" ><i><b>TPN</i></b></button></a>

    <a href="SKSP.html">
        <button class = "SKS" ><i><b>SKS</button></i></b</a>

</div>

</body>
</html>